.enn{
    display: flex;
    background: linear-gradient(to right,rgb(71, 23, 23),rgb(120, 97, 97));
    height: 630px;
}
.gorm{
    /* filter: blur(); */
    position: relative;
    top: 10%;
    left: 30%;
   padding: 70px 150px;
   height: 400px;
   border: 2px solid gold;
  background-color: transparent;
}
.form input{
    padding: 5px 5px;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 3px solid yellow;
background-color: transparent;
opacity: 0.7;
outline: none;
}
.form label{
    color: yellow;
}
.un{
    background-color: yellow;
    height: 3px;
    position: relative;
    left: 324%;
    top: 8%;
}
#er{
    position: relative;
    top: 35%;
    left: 100%;
    color: yellow;
}
#sad{
    border: 2px solid yellow;
    background-color: transparent;
    color: yellow;
    padding: 7px 14px;
    transition: 0.5s;
    margin-left: 90px;
}
#sad:hover{
    background-color: yellow;
    color: yellow;
    color: #232525;
}
#fer{
    margin: 0px;
    color: yellow;
    position: relative;
    top: 100%;
}
#per{
    background-color: transparent;
    border: 2px solid yellow ;
}